* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter- {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

nav {
    width: 95%;
    max-width: 1700px;
    max-height: 92px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
    color: #FFFFFF;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 52px;
    /* padding: 0px 50px ; */
}

.first li a {
    text-decoration: none;
    align-items: center;
    /* padding: 34px 630px 34px 605px; */
    /* justify-content: center; */
    font-size: 16px;
    line-height: 152%;
    color: black;
    font-weight: 500;

}

.get-early-access {
    width: 164px;
    border-radius: 8px;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    padding: 12.5px 16px;
    cursor: pointer;

}

.get-early-access:hover {
    background-color: #257646;
}

.first li a:hover {
    color: #469165;
}


.hero-bg {
    /* background-image: url('B13-A01-Knowledge-Vault/assets/hero-bg.png'); */

    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* width: 100%; */
    /* height: 595px; */
    /* border: 20px solid #000;           */
    /* vertical-align: middle; */
    /* margin: none; */


}

#again {
    /* background-size: 1200px 800px; */
    background-color: white;
    /* padding-top: 500px; */
    background: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
    /* background-position: bottom middle; */
    background-repeat: no-repeat;
    background-size: 100%;
    height: 595px;
    /* border-image-height : 100%; */
    `
    /* max-height: 550px; */
}

.Early {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #469165;
    border: none;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    /* width: 183px; */
    /* height: 19px; */
    gap: 6;
    cursor: pointer;
    padding-left: 12px;
    align-items: center;
}

*/ .Early i {
    border-radius: 100%;
    /* background-color: #50a373; */
    border: 1.90px solid #93ab9d;
}

.content {
    width: 770px;
    height: 168px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 34.42px;
    color: white;
    line-height: 84px;
    padding-top: 55px;
    /* border: 1px solid #000000; */
}

.gap .content p {
    /* width: 1360px; */
    height: 60px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    padding-top: 16px;
    font-weight: 400;
}

.gap .content .Start {
    width: 251px;
    height: 52px;
    background-color: #469165;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    gap: 15;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-top: 32px;
}

.gap .content .See {
    width: 195px;
    height: 52px;
    background: none;
    color: white;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    gap: 16;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    display: flex;
    box-sizing: border-box;
}

.then {
    display: flex;
    /* justify-content: space-between; */
    gap: 16px;
    align-items: center;
    /* transform: translate(15%, -10%); */
}

.ami {
    margin: 0px 120px 0px 120px;
    justify-content: center;
    align-items: center;


}

.amra {
    margin: 0px 120px 0px 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.amra p {
    font-size: 16px;
    padding: 16px 0;
    color: #627382;
    line-height: 20px;
    font-weight: 400;
}

.amar h1 {
    font-size: 48px;
    color: #000000;
    line-height: 100%;
    font-weight: 700;
    font-style: bold;
}

.all {
    display: flex;
    width: 1260px;
    height: 300px;
    gap: 24px;
    /* padding: 0px 0px 0px 100px; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.card {
    width: 316.5px;
    height: 260px;
    /* border: 1px solid #000; */
    border-radius: 8px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 1);
    text-align: center;
}

/* .card h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
}



/* .card .photo{
    background-color: #F95555;
    border-radius: 100%;
    background-size: 160px 160px;
    background-clip: border-box; */
.card .photo-1 {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100%;
    background-size: 160px 160px;
    /* image-rendering: pixelated; */
    /* padding: 14.4px 10.19px 13.96px 13.09px; */
    padding: 16px 16px 13px 16.5px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.card .photo-2 {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100%;
    background-size: 160px 160px;
    /* image-rendering: pixelated; */
    /* padding: 14.4px 10.19px 13.96px 13.09px; */
    padding: 14.38px 14.07px 13.62px 13.96px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.card .photo-3 {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100%;
    background-size: 160px 160px;
    /* image-rendering: pixelated; */
    /* padding: 14.4px 10.19px 13.96px 13.09px; */
    padding: 13.61px 14.33px 14.39px 13.67px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.card .photo-4 {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100%;
    background-size: 160px 160px;
    /* image-rendering: pixelated; */
    /* padding: 14.4px 10.19px 13.96px 13.09px; */
    padding: 14.36px 14.17px 13.64px 13.83px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}


.card h3 {
    padding-top: 16px;
    width: 274px;
    height: 29px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.card p {
    font-size: 16px;
    padding-top: 50px;
    color: #627382;
    width: 274px;
    height: 40px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
}