* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter- {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

nav {
    width: 95%;
    max-width: 1700px;
    max-height: 92px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 52px;
    /* padding: 0px 50px ; */
}

.first li a {
    text-decoration: none;
    align-items: center;
    /* padding: 34px 630px 34px 605px; */
    /* justify-content: center; */
    font-size: 16px;
    line-height: 152%;
    color: black;
    font-weight: 500;

}

.get-early-access {
    width: 164px;
    border-radius: 8px;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    padding: 12.5px 16px;
    cursor: pointer;

}

.get-early-access:hover {
    background-color: #257646;
}

.first li a:hover {
    color: #469165;
}


.hero-bg {
    background-image: url('B13-A01-Knowledge-Vault/assets/hero-bg.png');
    background-size: 1200px 800px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* border: #469165 solid 1px; */
    vertical-align: middle;
}

.again {
    background-color: white;
    padding-top: 500px;
    background: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-position: bottom middle;
    background-repeat: no-repeat;
    background-size: 100%;
    /* border-image-width: 100%; */
}

.Early {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #469165;
    border: none;
    padding: 8px 12px 12px 34px;
    border-radius: 1000px;
    cursor: pointer;
}
/* .Early input[type="radio"] {
    padding-top: px ;
    padding-left: 12px;
    align-items: center;
} */